:root{
  --color-bg-main: #F1E9D2;
  --color-text-main: #4A4A4A;

  --color-bg-accent: #E9D9B8;
  --color-bg-light: #FFFFE3;
  --color-bg-dark: #D4CAB0;

  --color-border-main: #C9BEA3;
  --color-border-dark: #716751;
}

html {
  background-color: var(--color-bg-accent);
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}

.border-main {
  border-color: var(--color-border-main);
}

.border-dark {
  border-color: var(--color-border-dark);
}

.bg-accent {
  background-color: var(--color-bg-accent);
}

.bg-light {
  background-color: var(--color-bg-light);
}

.hover\:bg-light:hover {
  background-color: var(--color-bg-light);
}

.bg-dark {
  background-color: var(--color-bg-dark);
}

.hover\:bg-dark:hover {
  background-color: var(--color-bg-dark);
}