<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8 flex flex-col">
	<div class="flex items-center py-3">
		<div class="flex items-stretch">
			<div class="px-6 py-2 rounded-full bg-light hover:bg-dark text-xl font-bold uppercase flex items-center">
				{{ if .IsHome }}
				<h1 class="m-0">
					<a href="{{ .Site.BaseURL }}" class="hover:underline focus:outline-none">
					{{ .Site.Title }}
					</a>
				</h1>
				{{ else }}
				<h2 class="m-0">
					<a href="{{ .Site.BaseURL }}" class="hover:underline focus:outline-none">
					{{ .Site.Title }}
					</a>
				</h2>
				{{ end }}
			</div>
		</div>

		<div class="px-4 block">
			{{- partial "menu.html" (dict "menuID" "main" "page" .) -}}
		</div>

		{{- partial "search.html" . -}}
	</div>
	
	
</div>